ul.icon-list
  li
    a(href='https://blog.fedyya.net'): abbr(title="My Blog Site"): i.fa-lg.fa-fw.fas.fa-blog
  li
    a(href='https://lunaris.fedyya.net'): abbr(title="My Hymmnos Works"): i.fa-lg.fa-fw.fas.fa-moon
  li
    a(href='https://emoji.fedyya.net'): abbr(title="The Enigmatic Emoji Mechanism"): i.fa-lg.fa-fw.fas.fa-icons
  li
    a(href='https://rhei.fedyya.net'): abbr(title="NAYA"): i.fa-lg.fa-fw.fas.fa-boxes
